{% extends "base.html" %}

<html>
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">-->
<!--    <title>用户注册</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/iCheck/square/blue.css') }}">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/pace/pace.min.css') }}">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/adminlte/css/AdminLTE.min.css') }}">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/adminlte/css/skins/skin-blue.min.css') }}">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">-->
<!--    <link rel="stylesheet" href="https://stackedit.io/style.css" />-->
<!--</head>-->

{% block navbar %}
<body class="stackedit" >
<embed hidden="true" autostart="true" loop="true">
<div class="stackedit__html">
<form method="post" action="{{ url_for('main.useredited') }}">
    {{form.hidden_tag()}}
    <div class="form-group has-feedback">
        {{form.editphone(class_="form-control",placeholder='请输入新电话号')}}
        <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        {{form.editemail(class_="form-control",placeholder='请输入新邮箱')}}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
    {% endfor %}
    <div class="col-xs-4">
         {{form.submit(class_="btn btn-primary btn-block btn-flat")}}
    </div>
</form></div>
<script src="{{ url_for('static', filename='plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pace/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
{% endblock %}

</html>
