<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>username</th>
                <th>phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in form.content %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Page {{ form.page }} of {{ form.total_page }}, Total {{ form.total_count }} records.</p>
    <p>
        {% if form.page > 1 %}
        <a href="?page={{ form.page-1 }}&length={{ form.length }}">Prev</a>
        {% endif %}
        {% if form.page < form.total_page %}
        <a href="?page={{ form.page+1 }}&length={{ form.length }}">Next</a>
        {% endif %}
    </p>
</body>
</html>
